<!-- views/profile.ejs -->
<!doctype html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/profile.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
</head>
<body>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<div class="container">

    <div class="text-center">
        <h1><span class="fas fa-tachometer-alt"></span> ln Crypto Mining Dashboard </h1>
    </div>

    <div class="row" id="user-info">
        <div class="col-sm-2" id="user-email">
            <span class="fa fa-user"></span> <%= user.email %>
        </div>
        <div class="col-sm-2 col-sm-offset-8" id="logout">
            <a href="/logout" class="btn btn-default">Logout</a>
        </div>
    </div>



    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Overview</a></li>
            <li><a data-toggle="tab" href="#general_submit">General Configurations</a></li>
        </ul>


        <div class="alert alert-danger" role="alert" id="connexion-status-banner" v-if="display_banner">
            Connexion lost, Session most likely expired, click <a href="/profile">here</a> to reload
        </div>


        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="panel-group" id="workers-table">


                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <strong>Machines</strong>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <strong>Gpu</strong>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <strong>Mined currency</strong>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <strong>Hashrate</strong>
                                    </div>
                                </div>
                            </h4>
                        </div>

                    </div>


                    <div class="panel panel-default" v-for="worker in workers" @change="updatedWorkerConfigurations">

                        <div class="panel-heading" data-toggle="collapse" data-parent="#workers-table" :href="'#' + worker.worker_name" style="cursor: pointer;">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        {{worker.worker_name}}
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        {{worker.graphic_card_name}}
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        {{worker.mined_currency}}
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        {{worker.hashrate}} H/s
                                    </div>
                                </div>
                            </h4>
                        </div>

                        <div :id="worker.worker_name" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form v-on:change.stop="updatedWorkerConfigurations(worker.worker_name)">
                                    <div class="checkbox col-sm-2 col-sm-offset-5 text-center">
                                        <label><input type="checkbox" v-model="worker.activate_mining"> Activate Mining</label>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Cryptocurrency</th>
                                            <th>Mining activation</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(mine_currency, currency) in worker.mined_cryptocurrencies">
                                            <td>{{currency}}</td>
                                            <td>
                                                <input type="checkbox" v-model="worker.mined_cryptocurrencies[currency]">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                            </div>
                        </div>

                    </div>


                </div>
            </div>



            <div id="general_submit" class="tab-pane fade">
                        TODO: add some configuration general for all miners
            </div>

        </div>
    </div>
</div>

<script src="/scripts/profile.js"></script>
</body>
</html>
